@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(./assets/homeBg.jpg);
    background-repeat: repeat-y;
}

a {
    text-decoration: underline;
    color: rgb(93, 93, 233);
}


/* Navbar */
.nav {
    background: #fff;
    display: flex;
    width: 100%;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
    gap: 300px;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.logo {
    width: 200px;
    height: auto;
}

.logo img {
    width: 200px;
    height: auto;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.item img {
    height: 50px;
    width: auto;
}

.item span {
    color: #1E1E1E;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    /* 19.5px */
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile img {
    width: 60px;
    height: auto;
}

.profile span {
    color: #1E1E1E;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    /* 19.5px */
}


/* Domain selection */
.domain {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.row h1 {
    color: #D53439;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.col {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    border: 1px solid #FFF;
    box-shadow: 0px 10px 20px 0px #000;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.col h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 10px 10px 50px rgba(255, 255, 255, 0.722);
    -webkit-text-stroke: 1px black;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* footer */
.footer {
    display: flex;
    width: 100%;
    padding: 25px;
    justify-content: center;
    align-items: flex-end;
    gap: 150px;
    background: #D53439;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.75);
}

.col1 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.col1 hr {
    width: 30%;
    margin: 10px;
}